nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: white;
}
#tweeter-logo {
  /* overwrites root font Source Sans Pro - for TWEETER */
  font-family: "Bungee", cursive;
  font-size: 2rem;
}

.new-tweet-blurb {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fa-angles-down{
  color: red;
}


/* Mobile Screens less than 425px wides */
@media only screen and (max-width: 425px) {
  /* Lines 33-39 changes the blurb text */
  .new-tweet-blurb span {
    font-size: 0px;
  }
  .new-tweet-blurb span::after {
    font-size: 1.5rem;
    content: "New Tweet";
  }
  /* stacks the nav elements for mobile view */
  nav {
    flex-direction: column;
    align-items: center;
  }

  /* stacks name && tweeter handle */
  .tweet-container .tweet-articles header {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start ;
  }
}

/* Desktop Media Query is in "layout.css" */