.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* Space between tweets below it and the main compose tweet box */
  margin-bottom: 20px;
}

#tweet-text-area {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-width: thick;
  resize: none;
  background-color: inherit;

  /* parent = .new-tweet, so width: 100% | BUT grandP = .container, width: 90% with margins */
  width: 100%;
}

.text-red {
  color: red;
}

.tweet-deets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

.tweet-button {
  color: white;
  background-color: #4056a1;
  font-size: 24px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
