.tweet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  border: #545149 solid;
  border-width: thick;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tweet-container header {
  height: auto;
  padding: 0;
  background-color: inherit;
  background-image: none;
  color: inherit;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweet-container header div {
  display: flex;
  flex-direction: row;
}

.profile-icon {
  width: 25%;
  height: auto;
}

.tweet-container textarea footer {
  display: flex;
  width: 100%;
  resize: none;

}